@page
@model AboutModel
@{
    ViewData["Page-Title"] = "About Page";
    ViewData["Content-Title"] = "About Form";
}

<h3>@Model.Message</h3>
<p>Use this area to provide additional information.</p>
hello why this is not showing

@section Button { 
    <button class="btn btn-primary" data-toggle="push-menu">Toggle Sidebar</button>     
}