.tree > ul {
    width: 2000px;
}

.tree * {
    margin: 0;
    padding: 0;
}

.tree ul {
    white-space: nowrap;
    padding-top: 20px;
    position: relative;
}

.tree li {
    float: left; 
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

.tree li .trcont {
    /*cursor: pointer;    
    width: 150px; */
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

.trcont .org-chart-title {
    cursor: pointer;
}

.tree > ul > li {
    display: inline-block;
    float: none;
}

/*We will use ::before and ::after to draw the connectors*/
.tnode:only-child::after, .tnode:first-child::after {
    border: 0px!important;
}

.tnode:only-child::before, .tnode:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    border-left: 1px solid #000;
    border-top: 0px !important;
    height: 20px;
}

.tnode:first-child::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    height: 20px;
}

.tnode:last-child::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%; 
    border-top: 1px solid #000;
    height: 20px;
}

.tnode::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    width: 50%;
    height: 20px;
}

.tnode::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%; 
    border-top: 1px solid #000;
    width: 50%;
    height: 20px;
}

.trchl > ul::before {/*down line connector .bfrul*/ 
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    border-left: 1px solid #000;
    height: 20px;
}

.trcont:hover > .org-chart-data {
    background: #c8e4f8;
    color: #000;
    border: 2px solid #000;
}

.trcont:hover ~ .trchl .org-chart-data   {
    background: #c8e4f8;
    color: #000;
    border: 2px solid #000;
}

.trhdnpanel{ 
  cursor: pointer;  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trcont .trhdnpanel{
  visibility:hidden;
}
.trcont:hover .trhdnpanel{
  visibility:visible;
}
/*
.contaftrdrop {
    border: 2px solid yellow;
}

.tree li .dragactive > .trcont {
    border: 1px solid yellow;
}

.tree li .drophover > .trcont {
    border: 2px solid red;
}

.tfocus {
    background: #c8e4f8;
    color: #000;
    border: 2px solid #94a0b4;
}
*/